/* This is an example of using Sass, otherwise plain CSS works too*/
@import './variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Muli:wght@400;700&display=swap');
@import '~js-datepicker/src/datepicker.scss';

@mixin full-width($widthSub: 0px) {
  width: calc(100vw - #{$widthSub});
}

@mixin full-size($widthSub: 0px, $heightSub: 0px) {
  @include full-width($widthSub);
  height: calc(100vh - #{$heightSub});
}

@mixin grid() {
  columns: 400px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Muli', Arial, Helvetica, sans-serif;
  font-size: 18px;
}

html, body {
  background-color: $primary-background;
  @include full-size();
}

aside {
  width: 300px;
  height: 100vh;
  float: left;
  display: flex;
  background: $card-background;
  flex-direction: column;
  align-items: center;
}

h1, h2, h3 {
  text-align: center;
}

#login-page {
  width: 300px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  div {
    display: flex;
    margin: 5px 0;
    svg {
      margin-right: 10px;
    }
  }
}

#user-stats {
  @include full-width(300px);
  @include grid();
  float: right;
}

#booking-form {
  width: 80%;
}

#booking-filter-room-type {
  display: grid;
  grid-template-columns: 20px 200px;
}

#booking-open-rooms {
  width: 80%;
  overflow: scroll;
}

#manager-stats {
  @include full-width(300px);
  @include grid();
}

.card {
  background: $card-background;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 2px 2px 2px #00000022;
  border-left: 4px solid $highlight;
  margin: 5px;
  display: inline-block;
  width: 100%;
}

.bigtext {
  font-size: 30px;
  line-height: 36px;

  &::before {
    content: "\A";
    white-space: pre;
  }

  &::after {
    content: "\A";
    white-space: pre;
  }
}

.no-before {
  &::before {
    content: "";
  }
}

.date-table {
  width: 50%;
  margin: 0 25%;
  border-collapse: collapse;
  td {
    border-bottom: 1px solid $accent;
  }
  td:first-child {
    text-align: left;
  }
  td:last-child {
    text-align: right;
  }
}